---
kind: JoinConfiguration
apiVersion: "kubeadm.k8s.io/v1beta3"
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ kube_apiserver_advertise_address }}:{{ kube_apiserver_port }}
    token: {{ kubernetes_join_token }}
    caCertHashes:
      - {{ kubernetes_ca_cert_hash }}
    unsafeSkipCAVerification: true

nodeRegistration:
  imagePullPolicy: IfNotPresent
  name: {{ kube_node_name|to_json }}
  ignorePreflightErrors: [ NumCPU ]

  kubeletExtraArgs:
        node-ip: '{{  kube_advertise_address }}'
